
#userName,#password  {
    width: '100%';
    height: 28px;
    border: 1px solid #DBDCDC;
    border-radius: 3px;
}

.authentication {
    font-family: 'Titillium Web';
    font-size: 14px;
}

.authentication > label {
    margin-top: 5px;
}

#userName {
    margin-bottom: 12px;
}



