.main-body {
    margin: 0px 32px;
    font-family: 'Titillium Web';
}

.top-most {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.top-most > .buttons > .btn-cancel {
    min-width:55px;
    height:30px;
    font-family: 'Titillium Web';
    font-size: 14px;
    border-width: 1px;
    border-radius: 3px;
    background-color: white;
    margin-right: 8px;
    border-color:#DBDCDC;
}
.top-most > .buttons > .btn-create {
    min-width:100px;
    height:30px;
    font-family: 'Titillium Web';
    font-size: 14px;
    border-width: 1px;
    border-radius: 3px;
    background-color: 'blue';
    color: white;
    background-color: #137CBD;
}

.input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input > input {
    height: 30px;
    border: 1px solid #DBDCDC;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.input > .information {
    font-size: 14px;
    color: #182026; 
    opacity: 70%;
    
}

.div-above-advanced {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.add-row-button {
    font-family: Titillium Web;
    padding-top: 5px;
    font-size: 14px;
    background-color: white;
    border: none;
    display: flex;
}

.addRow-groupUngroup-buttons {
    display: flex;
    justify-content: space-between;
}

.groupUngroup-button > button {
    margin-left: 16px;
    background-color: white;
    font-family: 'Titillium Web';
    border: 1px solid #DBDCDC;
    border-radius: 3px;
    height: 30px;
    width: 92px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

button:hover, button:focus {
    outline: none;
}

.ag-cell-focus, .ag-cell {
    border: none !important;
}

#advancedSettingsButton {
    display: flex;
    align-items: center;
    border: none;
    background-color: #FFFFFF;
    color: #106BA3;
    font-size: 14px;
    font-family: 'Titillium Web';
    padding-left: 0px;
}

.advancedSettingCommonStyleDiv {
    display: flex;
    color: #182026;
    font-size: 14px;
}

.advancedSettingCommonStyleDiv > div {
    margin-right: 32px;
    
}

.advancedSettingCommonStyleDiv > div > p {
    margin-bottom: 2px;
}

.advancedSettingCommonStyleDiv input,select {
    width: 301px;
    height: 30px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid #DBDCDC;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.advancedSettingCheckbox {
    margin-bottom: 16px;
}

input[type="checkbox"]
{
    vertical-align:middle;
    margin-bottom: 2px;
    margin-right: 8px;
    width: 14px;
    height: 14px;
}
