#clusterName,#managementIP  {
    width: '100%';
    height: 28px;
    border: 1px solid #DBDCDC;
    border-radius: 3px;
}

.existingClusterDetails {
    font-family: 'Titillium Web';
    font-size: 14px;
}

.existingClusterDetails > :first-child {
    margin: 2px;
}

.existingClusterDetails > label {
    margin-top: 5px;
}

#clusterName {
    margin-bottom: 12px;
}