.popoverContent {
    background-color: #EBF1F5;
    font-family: 'Titillium Web'
}

input[type=file] {
    border: 1px solid #DBDCDC;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 25px;
    margin-top: 7px;
}

input[type=file]::-webkit-file-upload-button {
    padding: 5px;
}

.popoverContent > button {
    min-width: 85px;
    min-height: 30px;
    border: 1px solid #0E3B58;
    background: #137CBD;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 78%;
    color: white;
    display: flex;
    justify-content: space-around;
}