.popover-container {
    font-family: 'Titillium Web';
    z-index: 1000;
    min-width: 7rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
 
.popover-item:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
}

.popover-item.active {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.popover-item {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
} 

