.header {
    display: flex;
    position: sticky;
    height: 45px;
    background: #454B4F;
    align-items: center;
    padding: 0px 17px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.header_left {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 100;
    color: white;
    font-weight: 200;
    font-family: 'Titillium Web';
}

.header_left > img {
    object-fit: contain;
    width: 44px;
    height: 26px;
    margin: auto;
}

.header_left:hover {
    cursor: pointer;
}

.header_right {
    display: flex;
}

.header_right > button {
    border: 1px solid white;
    border-radius: 15px;
    background-color: inherit;
    color: white;
    padding: 2px 8px;
    margin-right: 20px;
    font-family: 'Titillium Web';
    font-size: 14px;
    font-weight: 200;
}

.avatar:hover {
    cursor: pointer;
}