.body {
    margin: 0px 32px;
    font-family: 'Titillium Web';
}

.topmost {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 17px;
}

.topmost button {
    margin-right: 12px;
    background-color: white;
    font-family: 'Titillium Web';
    border: 1px solid #DBDCDC;
    border-radius: 3px;
    font-size: 14px;
    height: 30px;
    min-width: 92px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.ag-theme-balham {
    height: 75vh;
}

#search-bar {
    padding: 0 10px 0 10px !important;
    height: 30px;
    width: 30vw;
    background: white;
    border: 0px solid #DBDCDC;
    border-radius: 3px;
}
