.viewLogsModal {
    width: 750px;
    max-height: 300px;
    margin-top: 10%; 
    margin-left: 20vw;
}

.viewLogsModalContent {
    font-family: 'Titillium Web';
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    background-color: #aaafae;
}

.viewLogsModalContent > p {
    font-size: medium;
    font-weight: 400;
}